.tutangle-logo {
  /* width: 225px; */
  margin: 20px 0;
}
.hamburger-wrapper {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
}

.search-input-wrapper {
  background-color: #caeff7;
  float: left;
  margin-top: 40px;
  margin-right: 10px;
  background: #caeff7;
  width: 250px;
  height: 20px;
}
.search-input-left {
  background-image: url("../images/search-left.png");
  background-position: top left;
  background-repeat: no-repeat;
}
.search-input-right {
  background-image: url("../images/search-right.png");
  background-position: top right;
  background-repeat: no-repeat;
}
.search-input {
  background: transparent;
  border: none;
}

.search-icon {
  line-height: 22px;
}

.search-btn {
  float: left;
  margin-right: 0px;
  background: #275056;
}

.search-btn:hover {
  cursor: pointer;
}

.search-btn-left {
  background-image: url("../images/btn-left.png");
  background-position: top left;
  background-repeat: no-repeat;
}
.search-btn-right {
  background-image: url("../images/btn-right.png");
  background-position: top right;
  background-repeat: no-repeat;
}
.search-text {
  display: block;

  padding: 0 10px;
  color: white;
  height: 16px;
  padding-top: 4px;
  font-size: 12px;
}

.round-search {
  background-color: #caeff7;
  float: left;
  margin-right: 10px;
  background: #caeff7;
}

.round-search:hover {
  cursor: pointer;
}

.round-search-left {
  background-image: url("../images/search-left.png");
  background-position: top left;
  background-repeat: no-repeat;
}
.round-search-right {
  background-image: url("../images/search-right.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.round-search-content {
  width: 266px;
  height: 20px;
  padding: 0 10px;
}

.round-search-input {
  width: 235px;
  font-size: 10px;
}

.round-search-content input {
  background: transparent;
  border: none;
}

.user-nav-wrapper {
  /* display: none; */
  /* overflow: auto; */
}

/* .header-top-right {
  float: none;
} */

.username-wrapper {
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 22px;
  margin-bottom: 8px;
  width: 100%;
}

.username {
  margin-left: auto;
  margin-right: 0;
}

.navbar {
  list-style: none;
  font-size: 10px;
}

.navbar-link {
  text-decoration: none;
  color: black;
}

.navbar-item {
  display: inline;
}

.option-list {
  list-style: none;
}

.option-item {
  padding: 15px 14px;
  display: inline-block;
  /* margin-right: 28px; */
  font-size: 12px;
}

.option-item:hover {
  background: #7dd9e8;
  cursor: pointer;
}

.notification {
  padding: 12px 0;
  float: left;
  font-size: 12px;
}

.topic-box-notification {
  margin-right: 30px;
}

.topic-box-icon {
  margin-right: 8px;
  float: left;
}

.recent-searches-list {
  list-style: none;
}

.recent-searches-item {
  font-size: 10px;
  padding: 14px 12px;
  font-weight: bold;
  overflow: auto;
}

.recent-searches-item:hover {
  background: #ffffff;
}

.recent-searches-text {
  float: left;
  width: 98px;
}

.bottom-recent-searches-text {
  float: left;
  width: 140px;
}

.recent-searches-icon {
  float: right;
}

.topic-box-text {
  float: left;
  padding-top: 3px;
}

.friend-request {
  color: #aaaaaa;
}

.recent-searches-heading {
  color: white;
  font-size: 12px;
  background: #2fc1da;
  padding: 14px 12px;
  font-weight: bold;
}

.recent-searches-body {
  width: auto;
  background: #f5f5f5;
  height: auto;
  border: 1px solid transparent;
}

.entries-heading {
  font-size: 22px;
  font-weight: bold;
}

.entries-option {
  margin-top: 12px;
  overflow: hidden;
  border-bottom: 2px solid #2fc1d8;
}

.all-entries-heading {
  padding: 14px 0;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 12px;
}

.subscribed-menu {
  width: 100%;
}

.entries-body {
  width: 100%;
}

.entry-item {
  width: 100%;
  padding: 16px 0;
  overflow: auto;
}

.entry-image {
  width: 72px;
  height: 72px;
  float: left;
}

.entry-description {
  width: 432px;
  float: right;
}

.tab-btn {
  float: left;
  background: #dddddd;
  margin: 0 5px;
  height: 28px;
  width: 114px;
}

.tab-btn:hover {
  cursor: pointer;
}

.tab-btn-left {
  background-image: url("../images/tab-left.png");

  background-position: top left;
  background-repeat: no-repeat;
}
.tab-btn-right {
  background-image: url("../images/tab-right.png");
  background-position: top right;
  background-repeat: no-repeat;
}
.tab-btn-text {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
}

.tab-btn:hover .tab-btn-left {
  background-image: url("../images/tab-select-left.png");
}

.tab-btn:hover {
  background: #2fc1d8;
}
.tab-btn:hover .tab-btn-right {
  background-image: url("../images/tab-select-right.png");
  color: white;
}

.tab-btn.tab-btn-active .tab-btn-left {
  background-image: url("../images/tab-select-left.png");
}

.tab-btn.tab-btn-active .tab-btn-right {
  background-image: url("../images/tab-select-right.png");
  color: white;
}

.tab-btn.tab-btn-active {
  background: #2fc1d8;
}

.all-entries-list {
  list-style: none;
  padding-left: 6px;
  overflow: auto;
}

.entry-exclamation {
  font-size: 10px;
  color: #57b0c0;
  margin: 5px 0;
  font-weight: bold;
}
.topic-box-exclamation {
  color: #70961d;
  font-size: 10px;
  margin: 5px 0;
  font-weight: bold;
}

.description-title {
  font-weight: bold;
  font-size: 14px;
}

.entry-option {
  color: #616161;
  font-size: 10px;
  margin: 5px 0;
}

.by-username,
.topic-box-data {
  font-weight: bold;
  color: #57b0c0;
}

.entry-subscribed {
  font-weight: bold;
  color: #6f9420;
}

.footer-nav-list {
  list-style: none;
}

.footer-nav-item {
  /* width: 56px; */
  /* border: 2px solid red; */
  margin: 10px;
}

.footer-nav-item a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hamburger-wrapper {
    display: none;
  }

  .user-nav-wrapper {
    display: block;
  }

  .round-search {
    margin-top: 40px;
  }
  .search-btn {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1002px) {
  .recent-searches-left-bottom {
    height: 460px;
  }

  .recent-searches-right {
    height: 592px;
  }

  .footer-nav-item {
    display: inline-block;
    background: url("../images/dot.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 12px;
    margin-right: 8px;
  }
  .footer-nav-item:first-child {
    background: none;
  }
  .footer-nav-item {
    margin: 0px;
  }
}
